.image-wrapper {
    display: flex;
    justify-content:center;
    margin-top: 10rem;
}

.image-wrapper img{
    width: 400px;
    
}

.image-wrapper .img-1{
    height: 35rem;

}

.image-wrapper .img-2{
    height: 45rem;
    
}

.image-wrapper .img-3{
    height: 35rem;
}

.image-wrapper .img-4{
    height: 45rem;
}